{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Your shopping cart" %}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">{% trans "Your shopping cart" %}</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Quantity" %}</th>
            <th scope="col">{% trans "Remove" %}</th>
            <th scope="col">{% trans "Unit price" %}</th>
            <th scope="col">{% trans "Price" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            {% with product=item.product %}
              <tr>
                <td>
                  <div>
                    <h5>{{ product.name }}</h5>
                    <p>{% trans "Category" %}: {{ product.category }}</p>
                  </div>
                </td>
                <td>
                  <form action="{% url "cart:cart_add" product.id %}" method="post">
                    <div class="input-group">
                      {{ item.update_quantity_form.quantity }}
                      <!-- <button type="submit" class="btn btn-sm btn-primary ms-2">{{ item.update_quantity_form.update }}</button> -->
                      <button type="submit" class="btn btn-sm btn-primary ms-2" title="{% trans 'Update' %}">
                        {{ item.update_quantity_form.update }}<i class="fas fa-sync-alt"></i>  <!-- Font Awesome icon for update -->
                      </button>
                      {% csrf_token %}
                    </div>
                  </form>
                </td>
                <td>
                  <a href="{% url "cart:cart_remove" product.id %}" class="btn btn-sm btn-danger">{% trans "Remove" %}</a>
                  <!-- <a href="{% url 'cart:cart_remove' product.id %}" class="btn btn-sm btn-danger" title="{% trans 'Remove' %}">
                    <i class="fas fa-trash-alt"></i>
                  </a> -->
                </td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
              </tr>
            {% endwith %}
          {% endfor %}
          {% if cart.coupon %}
            <tr class="subtotal">
              <td colspan="4">{% trans "Subtotal" %}</td>
              <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
            </tr>
            <tr>
              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                <td colspan="4">"{{ code }}" coupon ({{ discount }}% off)</td>
              {% endblocktrans %}
              <td class="num neg">
                - ${{ cart.get_discount|floatformat:"2" }}
              </td>
            </tr>
          {% endif %}
          <tr class="total">
            <td colspan="4">{% trans "Total" %}</td>
            <td class="num">
              ${{ cart.get_total_price_after_discount|floatformat:"2" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% if recommended_products %}
      <div class="recommendations">
        <h3 class="mb-4">{% trans "People who bought this also bought" %}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-3">
          {% for p in recommended_products %}
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h5>
                  <p class="card-text">{% trans "Category" %}: {{ p.category }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>{% trans "Apply a coupon" %}:</p>
        <form action="{% url "coupons:apply" %}" method="post">
          <div class="input-group mb-3">
            {{ coupon_apply_form }}
            <button type="submit" class="btn btn-outline-primary">{% trans "Apply" %}</button>
            {% csrf_token %}
          </div>
        </form>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end align-items-center">
        <a href="{% url "shop:product_list" %}" class="btn btn-light me-3">{% trans "Continue shopping" %}</a>
        <a href="{% url "orders:order_create" %}" class="btn btn-primary">{% trans "Checkout" %}</a>
      </div>
    </div>
  </div>
{% endblock %}
